<br><br>
<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="header">
    <h1>Our Products</h1>
  </div>
  <div class="row ">
<% cache(cache_key_for_products) do %>
  <%= render @products %>
<% end %>
   
</div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>